<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wallet.findMoneyApp.model.po.ApplyRecordMapper" >
  <resultMap id="BaseResultMap" type="com.wallet.findMoneyApp.model.po.ApplyRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="mobile_no" property="mobileNo" jdbcType="VARCHAR" />
    <result column="apply_product_id" property="applyProductId" jdbcType="INTEGER" />
    <result column="apply_product_name" property="applyProductName" jdbcType="VARCHAR" />
    <result column="apply_amount" property="applyAmount" jdbcType="VARCHAR" />
    <result column="credit_amount" property="creditAmount" jdbcType="VARCHAR" />
    <result column="rate" property="rate" jdbcType="VARCHAR" />
    <result column="term" property="term" jdbcType="VARCHAR" />
    <result column="term_unit" property="termUnit" jdbcType="VARCHAR" />
    <result column="apply_product_type" property="applyProductType" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="client_ip" property="clientIp" jdbcType="VARCHAR" />
    <result column="imei" property="imei" jdbcType="VARCHAR" />
    <result column="apply_request_url" property="applyRequestUrl" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="os" property="os" jdbcType="VARCHAR" />
    <result column="os_version" property="osVersion" jdbcType="VARCHAR" />
    <result column="app_version" property="appVersion" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, mobile_no, apply_product_id, apply_product_name, apply_amount, credit_amount, 
    rate, term, term_unit, apply_product_type, source, longitude, latitude, client_ip, 
    imei, apply_request_url, status, os, os_version, app_version, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wallet.findMoneyApp.model.po.ApplyRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from apply_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from apply_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from apply_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wallet.findMoneyApp.model.po.ApplyRecordExample" >
    delete from apply_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wallet.findMoneyApp.model.po.ApplyRecord" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into apply_record (user_id, mobile_no, apply_product_id, 
      apply_product_name, apply_amount, credit_amount, 
      rate, term, term_unit, 
      apply_product_type, source, longitude, 
      latitude, client_ip, imei, 
      apply_request_url, status, os, 
      os_version, app_version, create_time, 
      update_time)
    values (#{userId,jdbcType=INTEGER}, #{mobileNo,jdbcType=VARCHAR}, #{applyProductId,jdbcType=INTEGER}, 
      #{applyProductName,jdbcType=VARCHAR}, #{applyAmount,jdbcType=VARCHAR}, #{creditAmount,jdbcType=VARCHAR}, 
      #{rate,jdbcType=VARCHAR}, #{term,jdbcType=VARCHAR}, #{termUnit,jdbcType=VARCHAR}, 
      #{applyProductType,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=VARCHAR}, #{clientIp,jdbcType=VARCHAR}, #{imei,jdbcType=VARCHAR}, 
      #{applyRequestUrl,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{os,jdbcType=VARCHAR}, 
      #{osVersion,jdbcType=VARCHAR}, #{appVersion,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wallet.findMoneyApp.model.po.ApplyRecord" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into apply_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="mobileNo != null" >
        mobile_no,
      </if>
      <if test="applyProductId != null" >
        apply_product_id,
      </if>
      <if test="applyProductName != null" >
        apply_product_name,
      </if>
      <if test="applyAmount != null" >
        apply_amount,
      </if>
      <if test="creditAmount != null" >
        credit_amount,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="term != null" >
        term,
      </if>
      <if test="termUnit != null" >
        term_unit,
      </if>
      <if test="applyProductType != null" >
        apply_product_type,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="clientIp != null" >
        client_ip,
      </if>
      <if test="imei != null" >
        imei,
      </if>
      <if test="applyRequestUrl != null" >
        apply_request_url,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="os != null" >
        os,
      </if>
      <if test="osVersion != null" >
        os_version,
      </if>
      <if test="appVersion != null" >
        app_version,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="mobileNo != null" >
        #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="applyProductId != null" >
        #{applyProductId,jdbcType=INTEGER},
      </if>
      <if test="applyProductName != null" >
        #{applyProductName,jdbcType=VARCHAR},
      </if>
      <if test="applyAmount != null" >
        #{applyAmount,jdbcType=VARCHAR},
      </if>
      <if test="creditAmount != null" >
        #{creditAmount,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=VARCHAR},
      </if>
      <if test="term != null" >
        #{term,jdbcType=VARCHAR},
      </if>
      <if test="termUnit != null" >
        #{termUnit,jdbcType=VARCHAR},
      </if>
      <if test="applyProductType != null" >
        #{applyProductType,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="clientIp != null" >
        #{clientIp,jdbcType=VARCHAR},
      </if>
      <if test="imei != null" >
        #{imei,jdbcType=VARCHAR},
      </if>
      <if test="applyRequestUrl != null" >
        #{applyRequestUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="os != null" >
        #{os,jdbcType=VARCHAR},
      </if>
      <if test="osVersion != null" >
        #{osVersion,jdbcType=VARCHAR},
      </if>
      <if test="appVersion != null" >
        #{appVersion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wallet.findMoneyApp.model.po.ApplyRecordExample" resultType="java.lang.Integer" >
    select count(*) from apply_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update apply_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.mobileNo != null" >
        mobile_no = #{record.mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="record.applyProductId != null" >
        apply_product_id = #{record.applyProductId,jdbcType=INTEGER},
      </if>
      <if test="record.applyProductName != null" >
        apply_product_name = #{record.applyProductName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyAmount != null" >
        apply_amount = #{record.applyAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.creditAmount != null" >
        credit_amount = #{record.creditAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.rate != null" >
        rate = #{record.rate,jdbcType=VARCHAR},
      </if>
      <if test="record.term != null" >
        term = #{record.term,jdbcType=VARCHAR},
      </if>
      <if test="record.termUnit != null" >
        term_unit = #{record.termUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.applyProductType != null" >
        apply_product_type = #{record.applyProductType,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude,jdbcType=VARCHAR},
      </if>
      <if test="record.latitude != null" >
        latitude = #{record.latitude,jdbcType=VARCHAR},
      </if>
      <if test="record.clientIp != null" >
        client_ip = #{record.clientIp,jdbcType=VARCHAR},
      </if>
      <if test="record.imei != null" >
        imei = #{record.imei,jdbcType=VARCHAR},
      </if>
      <if test="record.applyRequestUrl != null" >
        apply_request_url = #{record.applyRequestUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.os != null" >
        os = #{record.os,jdbcType=VARCHAR},
      </if>
      <if test="record.osVersion != null" >
        os_version = #{record.osVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.appVersion != null" >
        app_version = #{record.appVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update apply_record
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=INTEGER},
      mobile_no = #{record.mobileNo,jdbcType=VARCHAR},
      apply_product_id = #{record.applyProductId,jdbcType=INTEGER},
      apply_product_name = #{record.applyProductName,jdbcType=VARCHAR},
      apply_amount = #{record.applyAmount,jdbcType=VARCHAR},
      credit_amount = #{record.creditAmount,jdbcType=VARCHAR},
      rate = #{record.rate,jdbcType=VARCHAR},
      term = #{record.term,jdbcType=VARCHAR},
      term_unit = #{record.termUnit,jdbcType=VARCHAR},
      apply_product_type = #{record.applyProductType,jdbcType=VARCHAR},
      source = #{record.source,jdbcType=VARCHAR},
      longitude = #{record.longitude,jdbcType=VARCHAR},
      latitude = #{record.latitude,jdbcType=VARCHAR},
      client_ip = #{record.clientIp,jdbcType=VARCHAR},
      imei = #{record.imei,jdbcType=VARCHAR},
      apply_request_url = #{record.applyRequestUrl,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      os = #{record.os,jdbcType=VARCHAR},
      os_version = #{record.osVersion,jdbcType=VARCHAR},
      app_version = #{record.appVersion,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wallet.findMoneyApp.model.po.ApplyRecord" >
    update apply_record
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="mobileNo != null" >
        mobile_no = #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="applyProductId != null" >
        apply_product_id = #{applyProductId,jdbcType=INTEGER},
      </if>
      <if test="applyProductName != null" >
        apply_product_name = #{applyProductName,jdbcType=VARCHAR},
      </if>
      <if test="applyAmount != null" >
        apply_amount = #{applyAmount,jdbcType=VARCHAR},
      </if>
      <if test="creditAmount != null" >
        credit_amount = #{creditAmount,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        rate = #{rate,jdbcType=VARCHAR},
      </if>
      <if test="term != null" >
        term = #{term,jdbcType=VARCHAR},
      </if>
      <if test="termUnit != null" >
        term_unit = #{termUnit,jdbcType=VARCHAR},
      </if>
      <if test="applyProductType != null" >
        apply_product_type = #{applyProductType,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="clientIp != null" >
        client_ip = #{clientIp,jdbcType=VARCHAR},
      </if>
      <if test="imei != null" >
        imei = #{imei,jdbcType=VARCHAR},
      </if>
      <if test="applyRequestUrl != null" >
        apply_request_url = #{applyRequestUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="os != null" >
        os = #{os,jdbcType=VARCHAR},
      </if>
      <if test="osVersion != null" >
        os_version = #{osVersion,jdbcType=VARCHAR},
      </if>
      <if test="appVersion != null" >
        app_version = #{appVersion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wallet.findMoneyApp.model.po.ApplyRecord" >
    update apply_record
    set user_id = #{userId,jdbcType=INTEGER},
      mobile_no = #{mobileNo,jdbcType=VARCHAR},
      apply_product_id = #{applyProductId,jdbcType=INTEGER},
      apply_product_name = #{applyProductName,jdbcType=VARCHAR},
      apply_amount = #{applyAmount,jdbcType=VARCHAR},
      credit_amount = #{creditAmount,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=VARCHAR},
      term = #{term,jdbcType=VARCHAR},
      term_unit = #{termUnit,jdbcType=VARCHAR},
      apply_product_type = #{applyProductType,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      client_ip = #{clientIp,jdbcType=VARCHAR},
      imei = #{imei,jdbcType=VARCHAR},
      apply_request_url = #{applyRequestUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      os = #{os,jdbcType=VARCHAR},
      os_version = #{osVersion,jdbcType=VARCHAR},
      app_version = #{appVersion,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>